@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: white;
  font-family: Inter, system-ui, sans-serif;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: #52525b;
}